/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./components/Loader/loader.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.loader_loader__ggim7 {
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background: #4141DA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease, visibility 3s ease;
}

.loader_loader__ggim7.loader_hide__ubBPl {
  opacity: 0;
  visibility: hidden;
}

.loader_loaderImg__vMvh3 {
  width: 400px;
  height: 400px;
  animation: loader_fadeInOut__Twpvv 3s ease-in-out infinite, loader_hueShift__NZ8oa 3s linear infinite;
}

@keyframes loader_fadeInOut__Twpvv {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes loader_hueShift__NZ8oa {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

